.content-wrapper {
  width: 100%;
  padding: 0 1rem;
  max-width: calc(1220px + 2rem);
  margin: 0 auto;
}

.select-menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.privet {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  flex-wrap: wrap;
  width: 33%;
}
